button {
  margin: 50px 10px 0 0;
}

/* hide the original radio button */
input {
  display: none;
}

label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

/* white circle */
label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid darkgrey;
  border-radius: 100%;
  background: white;
}

/* small colorful circle on the white circle */
label:after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

/* hide spot when label is unchecked */
input:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* show colorful spot when label is checked */
input:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* show translucent, colorful spot when mouse over the unchecked label */
input:not(:checked) + label:hover:after {
  opacity: 0.5;
  transform: scale(1);
}

/* black, blue, red, green, brown, yellow color styles */
.black:after  { background:   black; }
.black:before { border-color: black; }

.blue:after   { background:   blue;  }
.blue:before  { border-color: blue;  }

.red:after    { background:   red;   }
.red:before   { border-color: red;   }

.green:after  { background:   green; }
.green:before { border-color: green; }

.brown:after  { background:   brown; }
.brown:before { border-color: brown; }

.yellow:after  { background:   yellow; }
.yellow:before { border-color: yellow; }
