button {
  margin: 50px 10px 0 0;
}

input {
  display: none;
}

label {
  display: inline-block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 2px solid darkgrey;
  border-radius: 100%;
  background: #fff;
}

label:after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

input:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.black:after         { background:   black;  }
.black:hover:before  { border-color: black;  }

.blue:after          { background:   blue;   }
.blue:hover:before   { border-color: blue;   }

.red:after           { background:   red;    }
.red:hover:before    { border-color: red;    }

.green:after         { background:   green;  }
.green:hover:before  { border-color: green;  }

.yellow:after        { background:   yellow; }
.yellow:hover:before { border-color: yellow; }
